.header {
  font-family: var(--title-font-family);
  font-size: 72px;
  text-align: center;
  padding-bottom: 20px;
  color: var(--header-primary-color);
  text-shadow: 0 0 0.6rem var(--header-primary-color),
    0 0 1.5rem var(--header-secondary-color),
    -0.2rem 0.1rem 1rem var(--header-secondary-color),
    0.2rem 0.1rem 1rem var(--header-secondary-color),
    0 -0.5rem 2rem var(--header-tertiary-color),
    0 0.5rem 3rem var(--header-tertiary-color);
  animation: shine 2s forwards, flicker 3s infinite;
}
.text {
  color: var(--content-text-color);
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: var(--header-primary-color);
    text-shadow: 0 0 0.6rem var(--header-primary-color),
      0 0 1.5rem var(--header-secondary-color),
      -0.2rem 0.1rem 1rem var(--header-secondary-color),
      0.2rem 0.1rem 1rem var(--header-secondary-color),
      0 -0.5rem 2rem var(--header-tertiary-color),
      0 0.5rem 3rem var(--header-tertiary-color);
  }
  28%,
  33% {
    color: var(--header-secondary-color);
    text-shadow: none;
  }
  82%,
  97% {
    color: var(--header-tertiary-color);
    text-shadow: none;
  }
}

.flicker {
  animation: shine 4s forwards, blink 6s 4s infinite;
}

.fast-flicker {
  animation: shine 6s forwards, blink 20s 3s infinite;
}

@keyframes shine {
  0% {
    color: var(--header-additional-color);
    text-shadow: none;
  }
  100% {
    color: var(--header-primary-color);
    text-shadow: 0 0 0.6rem var(--header-primary-color),
      0 0 1.5rem var(--header-secondary-color),
      -0.2rem 0.1rem 1rem var(--header-secondary-color),
      0.2rem 0.1rem 1rem var(--header-secondary-color),
      0 -0.5rem 2rem var(--header-tertiary-color),
      0 0.5rem 3rem var(--header-tertiary-color);
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }
  4% {
    opacity: 0.9;
  }
  6% {
    opacity: 0.85;
  }
  8% {
    opacity: 0.95;
  }
  10% {
    opacity: 0.9;
  }
  11% {
    opacity: 0.922;
  }
  12% {
    opacity: 0.9;
  }
  14% {
    opacity: 0.95;
  }
  16% {
    opacity: 0.98;
  }
  17% {
    opacity: 0.9;
  }
  19% {
    opacity: 0.93;
  }
  20% {
    opacity: 0.99;
  }
  24% {
    opacity: 1;
  }
  26% {
    opacity: 0.94;
  }
  28% {
    opacity: 0.98;
  }
  37% {
    opacity: 0.93;
  }
  38% {
    opacity: 0.5;
  }
  39% {
    opacity: 0.96;
  }
  42% {
    opacity: 1;
  }
  44% {
    opacity: 0.97;
  }
  46% {
    opacity: 0.94;
  }
  56% {
    opacity: 0.9;
  }
  58% {
    opacity: 0.9;
  }
  60% {
    opacity: 0.99;
  }
  68% {
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  72% {
    opacity: 0.95;
  }
  93% {
    opacity: 0.93;
  }
  95% {
    opacity: 0.95;
  }
  97% {
    opacity: 0.93;
  }
  to {
    opacity: 1;
  }
}
