.tableTransaction {
  width: 400px;
  border-collapse: collapse;
}
.tableTransaction :nth-child(n) {
  padding: 5px;
}
.tableHeadTransaction {
  background-color: #2a2a2a;
  color: #fff;
  border: 1.5px solid #0e0e0e;
}
