.btn {
  width: 80px;
  height: 40px;
  cursor: pointer;
  overflow: hidden;
  background: var(--content-text-color);
  color: var();
  border: 1px solid transparent;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.btn:hover {
  background: #bebebe;
}
